.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2;

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    background-color: var(--primary-hover);

    &:disabled {
      cursor: no-drop;
    }
  }
}

.ghost {
  border: 1px solid var(--gray-light);
  background: none;
  color: var(--black);

  &:hover {
    background-color: var(--primary);
    color: var(--white);

    &:disabled {
      cursor: no-drop;
    }
  }
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transition: all 0.2;
  transform: rotate(90deg);
}

.primary svg,
.ghost:hover {
  fill: var(--white);
}
