.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.2;
}

.primary {
  color: var(--white);
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-hover);
  }
}

.ghost {
  color: var(--black);
  background: none;
  border: 1px solid var(--gray-light);

  &:hover {
    color: var(--white);
    background-color: var(--primary);
  }
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2;
}

.primary svg,
.ghost:hover {
  fill: var(--white);
}
