.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 6px;
  border-radius: 20px;
}

.s {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 12px;
}

.m {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  font-weight: bold;
  background: hsl(0, 100%, 44%);
  color: var(--white);
}

.grey {
  font-weight: bold;
  background: #51648c;
  color: var(--white);
}

.green {
  font-weight: bold;
  background: var(--green-light);
  color: var(--green);
}

.primary {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
}
