html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background: #f5f6f8;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --gray: #a4a4a4;
  --gray-dark: #6c7077;
  --white: #ffffff;
  --primary: #7351f5;
  --primary-hover: #6344df;
  --red-light: #fea291;
  --red: #fc836d;
  --green: #007b48;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}
